body
{
background-image:url('subtlefeathers.png');
/*background-color:#cccccc;*/
}


.button {
    font: bold 14px Georgia;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 6px 10px 5px 10px;
    margin: 4px 30px 4px 30px;
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: 2px solid #CCCCCC;
}