BAnd-specific page
<br/>
<br/>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/105574751&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
<br/>
<br/>
<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=3471321549/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://o-face.bandcamp.com/album/shrug-life">Shrug Life by O-FACE</a></iframe>